$primary: #00c740;
$secondary: #f7f7f5;
$tertiary: #abc;
$quaternary: #5bdee6;

$bg-main: #000000;

$primary-icon: #0a53be;
$secondary-icon: #e49e06;

$success: #00ff71;
$error:#c50909;
$warning:#f1c40f;



/**
* Importing all bootstrap
*/
@import "../../node_modules/bootstrap/scss/bootstrap";

