$body-bg: #f7f7f5;
$primary: #00c740;
$secondary: #001df8;
$orange: #e49e06;
$cyan: #5bdee6;

$gray: #787b66;
$info: #0d6efd;



/**
* Importing all bootstrap
*/
@import "../../node_modules/bootstrap/scss/bootstrap";

