$primary: #00c740;
$secondary: #f7f7f5;
$body-bg: #242424;
$orange: #e49e06;
$info: #0f0505;
$success:#2ecc71;
$error:#c50909;
$warning:#f1c40f;
$cyan: #5bdee6;
$gray: #787b66;



/**
* Importing all bootstrap
*/
@import "../../node_modules/bootstrap/scss/bootstrap";

